
NSWindowButtons.xcodeproj/xcuserdata/Randall.xcuserdatad/xcschemes/xcschememanagement.plist

NSWindowButtons.xcodeproj/xcuserdata/Randall.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

NSWindowButtons.xcodeproj/xcuserdata/Randall.xcuserdatad/xcschemes/NSWindowButtons.xcscheme

NSWindowButtons.xcodeproj/project.xcworkspace/xcuserdata/Randall.xcuserdatad/UserInterfaceState.xcuserstate

NSWindowButtons.xcodeproj/project.xcworkspace/contents.xcworkspacedata
